{% extends './base.html.twig' %}

{% block title %}Cooking Book{% endblock %}

{% block body %}
    <h1>Welcome to the Cooking Book application !</h1>
    <a href="{{ path('fridge') }}">What's in your fridge ?</a>
{% endblock %}
