@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

@import url('./header.css');
@import url('./navbar.css');

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(0, 0%, 71%);
    --bg-primary: hsl(240, 14%, 16%);
    --bg-secondary: hsl(240, 9%, 9%);
    --transition-speed: 600ms;
}

body {
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
}
    body::-webkit-scrollbar {
        width: 0.25rem;
    }
    body::-webkit-scrollbar-track {
        background: hsl(240, 9%, 13%);
    }
    body::-webkit-scrollbar-thumb {
        background: hsl(256, 44%, 50%);
    }

main {
    margin: 0;
    padding: 1rem;
}
