{% extends './base.html.twig' %}

{% block title %}Cooking Book - Test{% endblock %}

{% block body %}
    <h1>Cooking Book - Tests</h1>
    <div id="root">
        <!-- React.js code -->
    </div>
{% endblock %}
